@model Produtos
@{
    ViewData["Title"] = "GetProduto";
    Layout = "~/Views/Shared/_produtosLayout.cshtml";
}

<h1>GetProduto</h1>
<h1><a asp-action="Index" class="btn btn-sm btn-success">Voltar</a></h1>

<form method="post">
    <div class="form-group">
        <label for="codigo">Código:</label>
        <input class="form-control" name="codigo" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Busca Produto</button>
    </div>
</form>
@if (Model != null)
{
    <h2>Produto</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>Código</th><th>Descrição</th><th>Estoque</th><th>Preço</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Codigo</td>
                <td>@Model.Descricao</td>
                <td>@Model.Estoque</td>
                <td>@Model.Preco</td>
            </tr>
        </tbody>
    </table>
}

